<div class="container main-container">
  <h1>Vídeos de Youtube</h1>
  <hr>
  <div class="row" *ngIf="videos.length>0">
    <div class="card" style="width: 480px;" *ngFor="let video of videos">
      <img class="card-img-top" [src]="video['thumbnails']['high'].url" alt="video.title">
      <div class="card-body">
        <h5 class="card-title">{{video['title']}}</h5>
        <button (click)="verVideo(video)" class="btn btn-primary btn-block">Ver vídeo</button>
      </div>
    </div>
  </div>

  <button (click)="cargarMas()" type="button" class="btn btn-outlet-primary btn-block">Cargar más vídeos</button>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="videoSeleccionado">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{videoSeleccionado['title']}}</h5>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="300" [src]="videoSeleccionado.resourceId.videoId| domSeguro" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar vídeo</button>
            </div>
        </div>
    </div>
</div>
